<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">Modules</h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered" data-toggle="modal" data-target="#module-filter-modal"><i class="icon ion-md-funnel filter_click"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content indicator-block">
                    <ul class="indicator-list">
                        <li class="green">Active</li>
                        <li class="red">Inactive</li>
                    </ul>
                </div><!-- Page Header Content -->
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search_module" class="form-control" placeholder="Search" />
                            <button class="btn-clear" ng-click="clear_search()">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <button type="button" class="btn btn-refresh refresh_table">
                        <img src="./public/theme/img/content/refresh-arrow.png" class="img-responsive btn-refresh-icon">
                    </button>
                </div>
                <div class="page-header-content button-block">
                    <a href="#!/module-pkg/module/add" class="btn btn-primary" ng-shortcut="'meta+shift+n'" ng-shortcut-click>
                        Add New
                    </a>
                    <a href="#!/project-pkg/project-version/gantt-chart-view" class="btn btn-primary" ng-shortcut="'meta+shift+g'" ng-shortcut-click>
                        Gantt Chart View
                    </a>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="page-main-content list-page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="modules_list" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="action">Action</th>
                                <th>Project</th>
                                <th>Version</th>
                                <th>Module Name</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Assigned To</th>
                                <th>Tester</th>
                                <th>Duration</th>
                                <th>Completed Percentage</th>
                                <th>Module Group</th>
                                <th>Dependancy Count</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                    </table>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Filter Modal -->
<div class="modal fade filter" id="module-filter-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Module Filter</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="separate-form-group">
                                <label>Project</label>
                                <ui-select ng-model="$ctrl.module.project_id" theme="select2" ng-change="onselectProject($ctrl.module.project_id)">
                                    <ui-select-match placeholder="Select Project">
                                        {{$select.selected.name || $select.selected}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="i.id as i in $ctrl.filter.project_list | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="i.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <input type="hidden" name="project_id" id="project_id" value="" class="">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-sm-6">
                            <div class="separate-form-group">
                                <label>Project Version</label>
                                <ui-select ng-model="$ctrl.module.project_version_id" theme="select2" ng-change="onselectProjectVersion($ctrl.module.project_version_id);">
                                    <ui-select-match placeholder="Select Project Version">
                                        {{$select.selected.name || $select.selected}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="i.id as i in $ctrl.filter.project_version_list | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="i.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <input type="hidden" name="project_version_id" id="project_version_id" value="" class="">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Module Name</label>
                                <input type="text" class="form-control" id="module_name" name="module_name" placeholder="Enter Module Name" autocomplete="off">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="separate-form-group">
                                <label>Assigned To</label>
                                <ui-select multiple ng-model="$ctrl.module.assigned_to_ids" on-remove="$ctrl.removed($item, $model)" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false" style="" title="Choose Assigned To" ng-change="onselectAssignedTo($ctrl.module.assigned_to_ids)">
                                    <ui-select-match placeholder="Select Assigned To">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="i.id as i in $ctrl.filter.user_list | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="i.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <input type="hidden" name="assigned_to_id" id="assigned_to_id" value="" class="">
                            </div><!-- Field -->
                        </div><!-- column -->
                        <div class="col-sm-6">
                            <div class="separate-form-group">
                                <label>Tester</label>
                                <ui-select ng-model="$ctrl.module.tester_id" theme="select2" ng-change="onselectTester($ctrl.module.tester_id)">
                                    <ui-select-match placeholder="Select Tester">
                                        {{$select.selected.name || $select.selected}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="i.id as i in $ctrl.filter.tester_list | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="i.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <input type="hidden" name="tester_id" id="tester_id" value="">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="separate-form-group">
                                <label>Status</label>
                                <ui-select multiple ng-model="$ctrl.module.status_ids" on-remove="$ctrl.removed($item, $model)" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false" style="" title="Choose a Status" ng-change="onselectStatus($ctrl.module.status_ids)">
                                    <ui-select-match placeholder="Select Status">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="i.id as i in $ctrl.filter.status_list | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="i.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <input type="hidden" name="status_id" id="status_id" value="" class="required">
                            </div>
                            <!--field-->
                        </div><!-- column -->
                        <div class="col-md-6">
                            <div class="separate-form-group">
                                <label>Platform</label>
                                <ui-select multiple ng-model="$ctrl.module.platform_ids" on-remove="$ctrl.removed($item, $model)" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false" style="" title="Choose a Platform" ng-change="onselectPlatform($ctrl.module.platform_ids)">
                                    <ui-select-match placeholder="Select Platform">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="i.id as i in $ctrl.filter.platform_list | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="i.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <input type="hidden" name="platform_id" id="platform_id" value="" class="required">
                            </div>
                        </div><!-- column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <div class="input-group date">
                                    <input class="form-control daterange align-left" placeholder="Select a Date Range" ng-model="$ctrl.module.start_date" name="start_date" id="start_date" value="" autocomplete="off">
                                    <span class="input-group-addon">
                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                    </span>
                                </div><!-- Input Group -->
                            </div><!-- Feild -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <div class="input-group date">
                                    <input class="form-control daterange align-left" placeholder="Select a Date Range" ng-model="$ctrl.module.end_date" name="end_date" id="end_date" value="" autocomplete="off">
                                    <span class="input-group-addon">
                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                    </span>
                                </div><!-- Input Group -->
                            </div><!-- Feild -->
                        </div><!-- Column -->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" id="reset_filter" class="btn btn-rose" ng-click="reset_filter();$ctrl.module.project_id='';$ctrl.module.project_version_id='';$ctrl.module.assigned_to_ids='';$ctrl.module.status_ids='';$ctrl.module.platform_ids='';$ctrl.module.tester_id='';">Reset Filter</button>
                        </div>
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Modal -->
<div class="modal fade alert-modal failure" id="delete_module" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">ARE YOU SURE?</h4>
            </div>
            <div class="modal-body">
                <h5>Delete</h5>
                <p>You can’t retrive the data again, Are you sure you want to delete? </p>
                <input type="hidden" name="module_id" id="module_id" value="">
                <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-rose" ng-click="deleteConfirm()" type="button" data-dismiss="modal" aria-label="Close">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
