<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/module-pkg/module/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} Module</b></h1>
                    <p class="subtitle">
                        <a href="#!/module-pkg/module/list">
                            Module List
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.module.id}}">
            <input type="hidden" name="project_version_id" value="1
            {{$ctrl.module.project_version_id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">
                                            General Information
                                        </a>
                                    </li>
                                    <li>
                                        <a class="filter active" data-target="#dependancy" data-toggle="tab" aria-expanded="true">
                                            Dependancy
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Module Name
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.module.name" name="name" placeholder="Enter Module Name" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Description
                                                </label>
                                                <textarea name="address" ng-model="$ctrl.module.address" class="form-control required" rows="3" placeholder="Enter Address"></textarea>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Screens
                                                </label>
                                                <textarea name="address" ng-model="$ctrl.module.address" class="form-control required" rows="3" placeholder="Enter Address"></textarea>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Group
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <md-select ng-model="$ctrl.address.country_id" ng-change="onSelectedCountry($ctrl.address.country_id);$ctrl.address.state_id='';$ctrl.address.city_id=''" placeholder="Select Country" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header ng-hide">
                                                        <input ng-model="searchModuleGroup" type="search" placeholder="Search Module Group" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="Module Group List">
                                                        <md-option ng-value="country.id" ng-repeat="country in $ctrl.country_list | filter:searchTravel">
                                                            {{country.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="country_id" value='{{$ctrl.address.country_id}}' class="required">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Start Date</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.module.start_date" name="mobile_no" placeholder="Select Start Date" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>End Date</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.module.end_date" name="mobile_no" placeholder="Select End Date" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Duration</label>
                                                <input type="number" class="form-control" ng-model="$ctrl.module.duration" name="email" placeholder="Enter Duration" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Completed Percentage</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.module.completed_percentage" name="completed_percentage" placeholder="Enter Completed Percentage" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Completed Percentage</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.module.completed_percentage" name="completed_percentage" placeholder="Enter Completed Percentage" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Remarks</label>
                                                <textarea name="address" ng-model="$ctrl.module.address" class="form-control required" rows="3" placeholder="Enter Address"></textarea>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Active Status
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Active Status" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" id="submit" class="btn btn-primary">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade" id="dependancy" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="input-text form-group">
                                                        <label>Depends On</label>
                                                        <md-select multiple ng-model="$ctrl.field_group_ids" placeholder="Select Field Group" data-md-container-class="selectdemoSelectHeader">
                                                            <md-select-header class="demo-select-header">
                                                                <md-button layout-fill value="all" ng-if="$ctrl.field_group_ids.length != $ctrl.extras.field_group_list.length" ng-click="selectAllFieldGroups()">SELECT ALL</md-button>
                                                                <md-button layout-fill value="all" ng-if="$ctrl.field_group_ids.length == $ctrl.extras.field_group_list.length" ng-click="deselectAllFieldGroups()">DESELECT ALL</md-button>
                                                                <!-- <input ng-model="searchRoles" type="search" placeholder="Search Role" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()"> -->
                                                            </md-select-header>
                                                            <md-optgroup label="Field Group List">
                                                                <md-option ng-value="type.id" ng-repeat="type in $ctrl.extras.field_group_list | filter:searchTravel">{{type.name}}</md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="field_group_id" value='{{$ctrl.field_group_ids}}'>
                                                        <div class="col-md-12">
                                                            <button type="submit" id="submit" class="btn btn-primary">
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- Tab Footer -->
                                        </div><!-- Row -->
                                    </div><!-- Tab Pane Wrap -->
                                </div><!-- Tabe Pane -->
                            </div><!-- Tab Content -->
                        </div><!-- Tab Form Body -->
                    </div><!-- Tab Form Wrap -->
                </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->