<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">Gantt Chart View</h1>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content button-block">
                    <button type="button" class="btn btn-refresh" ng-click="$ctrl.drawChart()" ng-shortcut="'meta+shift+r'" ng-shortcut-click>
                        <img src="./public/theme/img/content/refresh-arrow.png" class="img-responsive btn-refresh-icon">
                    </button>
                </div>
                <div class="page-header-content button-block">
                    <div class="input-text form-group pull-left">
                        <md-select multiple ng-model="$ctrl.filtered_module_ids" placeholder="Select Modules" data-md-container-class="selectdemoSelectHeader" ng-change="$ctrl.drawChart()">
                            <md-select-header class="demo-select-header">
                                <md-button layout-fill value="all" ng-if="$ctrl.filtered_module_ids.length != $ctrl.extras.module_list.length" ng-click="selectAllModules()">
                                    SELECT ALL
                                </md-button>
                                <md-button layout-fill value="all" ng-if="$ctrl.filtered_module_ids.length == $ctrl.extras.module_list.length" ng-click="deselectAllModules()">
                                    DESELECT ALL
                                </md-button>
                            </md-select-header>
                            <md-optgroup>
                                <md-option ng-value="item.id" ng-repeat="item in $ctrl.extras.module_list | filter:searchTravel">
                                    {{item.name}} / {{item.code}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                        <input type="hidden" name="filtered_module_ids" value='{{$ctrl.filtered_module_ids}}'>
                    </div>
                    <a href="#!/module-pkg/module/list" class="btn btn-primary" ng-shortcut="'meta+shift+l'" ng-shortcut-click>
                        List View
                    </a>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="page-main-content list-page-content">
        <div class="container">
            <div id="chart_div"></div>
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->